    <div class="container">
        <h1>My Todolist</h1>
        <div class="input-area">

        <form action="/sendinformations" method="POST">


            {{#each tasks}}

            <div class="tasks">

                <p>- Name: {{ name }}</p>

               <p>- Task: {{ task }}</p>

               <form action="/edittask/{{ id }} ">
               
               <button type="submit" class="todobtn">Edit</button>
               
               </form>

               <form action="/deletetask/{{ id }}" method="POST">
               
               <button type="submit" class="todobtn">Delete</button>
               
               </form>

            {{else}}

            <p>No tasks found. Add some!</p>

            <a href="/">Create tasks</a>

            </div>

            {{/each}}

        </form>

        </div>
    </div>