    <div class="container">
        <h1>My Todolist</h1>

        <a href="/">Home</a>

        <div class="input-area">

            <div class="tasks">

            {{#each tasks}}

                <p>- Name: {{ name }}</p>

               <p>- Task: {{ task }}</p>


                <form action="/edittask/{{ id }}" method="GET">
               
               <button type="submit" class="todobtn">Edit</button>
               
               </form>

               <form action="/deletetask/{{ id }}" method="POST">
               
               <button type="submit" class="todobtn">Delete</button>
               
               </form>


            {{else}}

            <p>No tasks found. Add some!</p>

            <a href="/">Create tasks</a>

            {{/each}}

            </div>

        </div>
    </div>